* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  background:  rgba(71, 68, 71, 0.404);
}
.box {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.caixa {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background:  rgba(231, 149, 82, 0.404);
}

.titleBotao {
  display: flex; 
  font-family: Arial;
  font-size: 15px;
  margin-right: 15px;
  background-color: rgba(20, 20, 20, 0.863);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  background:  rgba(82, 149, 231, 0.404);
}

.cardInfo {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background:  rgba(149, 82, 231, 0.404);
}



.profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f5f5f5;
  padding: 15px 20px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
  transition: transform 0.3s ease;
}

.profile-container:hover {
  transform: scale(1.03);
}

.profile-img img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  border: 3px solid #ddd;
}

.profile-desc h2 {
  font-size: 1.4rem;
  color: #333;
  margin: 0;
}

.profile-desc p {
  font-size: 1rem;
  color: #666;
  margin-top: 5px;
}

.container-produto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  background:  rgba(231, 82, 149, 0.404);
}

.card-produto {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  height: 400px;
  transition: transform 0.3s ease;
}

.card-produto:hover {
  transform: scale(1.03);
}

.container-mensagem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  background:  rgba(149, 231, 82, 0.404);
}

.card-mensagem {
  background-color: #be3e3e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 75px;
  transition: transform 0.3s ease;
}

.usuario-mensagem h2 {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 1px;
  margin-top: 0px;
  text-align:start;
}

.texto-mensagem p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 5px;
  margin-left: 25px;
}

.horario-mensagem span {
  font-size: 0.8rem;
  display: flex;
  color: #fff;
  text-align: right;
  margin-left: 300px; 
  padding-bottom: 50px;
}
